.form-container form{
    max-width: 445px;
    position: relative;
}
.form-container form .input-field svg{
    position: relative;
    top: 45px;
}
.form-container form .input-field input{
    width: 100%;
    padding: 21px;
    padding-left: 38px;
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 18px;
    color: #151522;

}
.form-container form .input-field input::placeholder{
    color: #151522;
}
.form-container form .show-password{
    margin-top: 26px;
    display: flex;
    justify-content: space-between;
}
.form-container form .show-password .show-password-label{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #151522;
}
.form-container form .submit-btn{
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 40px;
}
.reset_btn.submit-btn{
    margin-top: 40px !important;
}
.account_settings .submit-btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.account_settings .submit-btn .input-field input{
    width: 100% !important;

}
.account_settings .submit-btn button{
    width: 125px !important;
    background-color: #fff !important;
    border: 1px solid #4378DB !important;
    color: #4378DB !important;
}
.form-container form .submit-btn button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 242px;
    height: 48px;
    background: #4378DB;
    box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.04), 0px 2px 4px rgba(96, 97, 112, 0.16);
    border-radius: 50px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    outline: none;
    cursor: pointer;
}
.form-container form .submit-btn a{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #4378DB;

}
.form-container form .submit-btn span{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}
.form-container form .forgot_password{
    margin-top: 16px;
    margin-bottom: 23px;
}
.form-container form .forgot_password a{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    text-align: center;    
    color: #151522;

}

.form-container form .social{
    display: flex;
    gap: 10px;
    align-items: center;
}
.form-container form .social svg{
    cursor: pointer;
}


/* login toggle switch */
.switch {
    position: relative;
    display: inline-block;
    width: 31px;
    height: 18px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(50, 50, 71, 0.08), 0px 4px 8px rgba(50, 50, 71, 0.06);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13.43px;
    width: 13.5px;
    left: 4px;
    bottom: 2.5px;
    background-color: #263238;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 16px;
  }
  
  .slider.round:before {
    border-radius: 16px;
  }