.forgot_password{
    
}
.forgot_password .forgot_password-container{
    display: flex;
    justify-content: space-between;
    gap: 0px;
}
.forgot_password .forgot_password-container .forgot_password-content{
    width: 100%;
}
.forgot_password .forgot_password-container .forgot_password-content span{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #555770;
    
}
.forgot_password .forgot_password-container .forgot_password-content h2{
    margin-top: 8px;
    margin-bottom: 3px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: #4378DB;
    
}
.forgot_password .forgot_password-container .forgot_password-content p{
    max-width: 533px;
    margin-top: 3px;
    margin-bottom: 0;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #28293D;
    
}
.forgot_password .forgot_password-container .forgot_password-content .forgot_passwordImg{
    position: relative;
    top: -40px;
   }

