.four_o_four_container{
    width: 100%;
    height: 100vh;
    background-color: #4378DB;
    padding-top: 80px;
}
.four_o_four_container .four_o_four{
    max-width: 500px;
    min-height: 450px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22.71px;
    margin-bottom: 6px;
    /* justify-content: center; */
}
.four_o_four_container .four_o_four h2{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
    margin-bottom: 0;
}
.four_o_four_container p{
    max-width: 471px;
    min-height: 29px;
    margin: 0 auto;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}