.dashboard_main_body{
    display: flex;
    justify-content: space-between;
    gap: 38px;
    width: 100%;
}

.dashboard_main_body .dashboard_contents{
    width: 1122px;
    background: #FFFFFF;
    border: 1px solid #DFE0EB;
    box-sizing: border-box;
    border-radius: 8px;
    margin-right: 33px;
    margin-top: 15px;
}

.dashboard_main_body .dashboard_contents 
.dashboard_contents_header{
    padding: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboard_main_body .dashboard_contents 
.dashboard_contents_header .left p{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
    letter-spacing: 0.4px;
    color: #252733;
}
.dashboard_main_body .dashboard_contents 
.dashboard_contents_header .right{
    display: flex;
    align-items: center;
    gap: 24px;
}
.dashboard_main_body .dashboard_contents 
.dashboard_contents_header .right button{
    border: 1px solid #4378DB;
    border-radius: 50px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    color: #4378DB;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15.67px;
    background-color: #FFFFFF;
}
.dashboard_main_body .dashboard_contents 
.dashboard_contents_header .right button:nth-child(1){
    width: 243px;
}
.dashboard_main_body .dashboard_contents 
.dashboard_contents_header .right button:nth-child(2){
    width: 294px;
}
.dashboard_main_body .dashboard_contents 
.dashboard_contents_header .right button.dashboard_file_btn1{
    width: 294px;
}
.dashboard_main_body .dashboard_contents 
.dashboard_contents_header .right button.dashboard_filter_btn{
    width: 138px;
}
.dashboard_main_body .dashboard_contents 
.dashboard_contents_header .right button:nth-child(3){
    width: 138px;
}